# Ignore Terraform related files
*.tfstate
*.tfstate.*
*.tfvars
.terraformrc
terraform.rc

# Ignore Terraform plan files
*.tfplan
*.tfplan.*

# Ignore Terraform lock files
.terraform.lock.hcl

# Ignore Terraform directories
.terraform/
terraform.tfstate.d/

# Ignore override files as they are usually
# generated and may contain sensitive information
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore Credentials
*.pem

# Ignore .env files
.env
.envrc

# Ignore VSCode directory
.vscode/

# Ignore local configuration files
.terraform/terraform.rc

# Ignore MacOS local state files
.DS_Store
